body {
  background-color: black;
  color: #fed98e;
  font-family: Helvetica Neue, sans-serif;
}

circle.inactive {
  fill: #ffffd4;
  stroke: #cc4c02;
  stroke-width: 1.5px;
}

circle.active {
  fill: #fe9929;
  stroke: #fed98e;
  stroke-width: 3px;
}

text.node-label {
  font: 8pt sans-serif;
  pointer-events: none;
  fill: #000;
}

tspan.cycle-label {
  font: 6pt sans-serif;
  fill: #333;
}

text.weight-label  {
  fill: #bbb;
  font: 10pt sans-serif;
}

path.link {
  fill: none;
  stroke-width: 2.5px;
}

text.shadow {
  stroke: #ffffd4;
  stroke-width: 3px;
}

marker#exc {
  stroke: #0b0;
  fill: #8f8;
  stroke-width: 1px;
}

marker#inh {
  stroke: #b00;
  fill: #f88;
  stroke-width: 1px;
}

#graph path {
   fill: none;
   stroke: red;
}

#graph .func-label  {
  fill: #222;
  font: 10px sans-serif;
}

#graph .graph-bg {
  fill: white;
  stroke: #ddd;
  stroke-width: 2;
  opacity: 0.8;
}

input {
  margin-right: 1em;
  vertical-align: bottom;
  margin-top: 0.5rem;
}
