body {
  background-color: black;
  color: white;
  font-family: Helvetica Neue, sans-serif;
}

circle.inactive {
  fill:rgba(255,205,190,0.9);
  stroke: #f95;
  stroke-width: 1.5px;
}

circle.active {
  fill:white;
  stroke:#f00;
  stroke-width:3px;
}

.active {
  fill:rgba(155,105,250,1);
}

.inactive {fill:rgba(255,205,190,0.9);}
text.node-label {
  font: 8px sans-serif;
  pointer-events: none;
  fill:#d33;
}

.active
tspan.cycle-label {
  font: 8px sans-serif;
  fill:#ccc;
}

text.weight-label  {
  fill: #bbb;
  font: 10px sans-serif;
}

path.link {
  fill: none;
  /*stroke: #aaa;*/
  stroke-width: 1.5px;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
}

marker#exc {
  stroke: #bbb;
  fill: white;
  stroke-width: 1.5px;
}

marker#inh {
  stroke: #bbb;
  fill: #bbb;
  stroke-width: 1.5px;
}

#graph path { fill: none; stroke: red;}
#graph .func-label  {
  fill: #222;
  font: 10px sans-serif;
}

#graph .graph-bg {
  fill: white;
  stroke: #ddd;
  stroke-width: 1;
  opacity: 0.8;
}

input {
  margin-right: 1em;
  vertical-align: bottom;
  margin-top: 0.5rem;
}